.nft-cards {
  position: relative;
  z-index: 0;
  margin-top: -280px;
  margin-bottom: 30px;

  &__title {
    margin-bottom: 24px !important;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 768px) {
    margin-top: 50px;
  }
}

.nft-card {
  flex: 1 254px;
  border-radius: 10px;
  overflow: hidden;
  max-width: 254px;
  margin: 0 15px 30px;
  padding: 16px;

  &__image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0;
    width: 100%;
    height: auto;
    margin-bottom: 18px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 80%);
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: 0.3s;

    img {
      width: 100%;
      min-height: 100%;
      display: block;
    }

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6);
      transform: translateY(-3px) scale(1.05) rotateX(15deg);

      &::after {
        transform: rotate(25deg);
        top: -40%;
        opacity: 0.15;
      }
    }

    &::after {
      position: absolute;
      content: '';
      z-index: 10;
      width: 200%;
      height: 100%;
      top: -90%;
      left: -20px;
      opacity: 0.1;
      transform: rotate(45deg);
      background: linear-gradient(to top, transparent, #fff 15%, rgba(255, 255, 255, 0.5));
      transition: 0.3s;
    }
  }

  &__title {
    font-size: 20px !important;
    line-height: 30px !important;
    font-weight: bold !important;
    margin-bottom: 6px !important;
  }

  &__description {
    font-size: 14px !important;
    line-height: 21px !important;
    height: 84px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    // background: $otter-blue;
    color: white;
    padding: 19px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0px;
  }

  @media screen and (max-width: 768px) {
    max-width: 355px;

    &__title {
      font-size: 24px !important;
      line-height: 36px !important;
    }
  }

  @media screen and (max-width: 512px) {
    max-width: unset;
  }
}
