.otto-pond {
    &__section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 44px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}

@media screen and (max-width: 960px) {
    .otto-pond {
        &__section {
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 40px;
            text-align: center;
        }
    }
}