.otto-pond {
    &__section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 44px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}