.otto-whitelist{
    &__container {
        display: flex;
        justify-content: space-between;
        background-color: black;
        overflow: hidden;
    }
    &__content {
        flex-grow: 1;
        text-align: center;
        position: relative;
        padding: 80px 80px;
    }
    &__image {
        max-height: 550px;
    }
}
    