#lang-menu-button {
  padding: 12px;
  svg {
    margin-right: 3px;
    color: inherit !important;
  }
}

.buy-text {
  font-weight: 700;
}

#lang-popper,
#lang-popper-pending {
  z-index: 9999;
  backdrop-filter: blur(33px);
  -webkit-backdrop-filter: blur(33px);
  margin-top: 10px;
  border-radius: 10px;

  .MuiPaper-root.lang-menu {
    padding: 16px 6px;
    display: flex;
    flex-direction: column;
    width: 200px;
    max-width: 200px;
    border-radius: 10px;
    button {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 4px;
      padding-left: 16px;
    }
    a {
      svg {
        vertical-align: middle;
        font-size: 20px;
        margin-left: 3px;
      }
    }
    hr {
      margin-bottom: 18px;
    }
  }

  .add-tokens {
    > p {
      margin: 15px 0px;
      text-align: center;
      font-size: 12px;
    }
  }

  .buy-tokens {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 4px;
    .select-language {
      font-size: 14px;
      line-height: 1.5;
    }
  }
  .select-language {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 4px;
  }
  .select-language:hover {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 4px;
  }
}

.wallet-menu {
  display: flex;
}
.lang-button-border-true {
  cursor: pointer;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  border: 2px solid;
  border-radius: 10px;

  p {
    font-size: 16px;
  }
}
.lang-button-border-false {
  cursor: pointer;
  width: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  width: 44px;
  border: 0px transparent !important;

  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 512px) {
  .lang-button-border-true,
  .lang-button-border-false {
    // width: 44px;
    svg {
      margin-left: 0px;
    }
  }
  #wallet-menu {
    .language-button {
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
    }
  }
}
