.landing-footer {
  margin-top: auto;
  padding: 32px 30%;
  background-color: #1D2654;

  .landing-footer-item-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .landing-footer-item-title {
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
      margin-bottom: 15px;
    }

    .landing-footer-item-value {
      font-size: 32px;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 812px) {
  .landing-footer {
    padding: 32px 10%;
  }
}
