@import 'styles/_colors.scss';

.footer {
  background-color: #fff;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $otter-dark;
}

.title {
  margin: 0;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 60px;

  @media screen and (max-width: 596px) {
    text-align: center;
  }
}

.buttonList {
  display: flex;
  gap: 16px;
  justify-content: space-around;
  @media screen and (max-width: 596px) {
    flex-wrap: wrap;
    margin: 0 40px;
  }
}

.linkButton {
  width: 255px;
  height: 180px;
  display: flex;
  background-color: #f7f9fb;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease-in 100ms;

  &:hover {
    background: white;
    box-shadow: 0px 4px 20px #e9f0f3;
    transition: ease-in 100ms;
  }

  @media screen and (max-width: 1000px) {
    width: 160px;
    height: 112px;
  }

  @media screen and (max-width: 596px) {
    flex: 1 160px;
  }
}

.linkImage {
  width: 44px;
  height: 44px;
  margin-bottom: 20px;

  @media screen and (max-width: 1000px) {
    width: 32px;
    height: 32px;
  }
}

.makeit {
  font-size: 24px;
  margin-top: 40px;
}

.logos {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 30px;
  padding-top: 120px;

  img:nth-child(1) {
    height: 40px;
  }

  img:nth-child(3) {
    height: 32px;
  }

  @media screen and (max-width: 596px) {
    gap: 15px;

    img:nth-child(1) {
      height: 35px;
    }

    img:nth-child(3) {
      height: 28px;
    }
  }
}
