@import 'styles/_colors.scss';

.dapp-topbar {
  width: 100%;
  align-items: center;
  button {
    white-space: nowrap !important;
    overflow: hidden !important;
    margin: 6px !important;
    min-width: fit-content !important;
    &#hamburger {
      padding: 11px !important;
    }
    &.toggle-button {
      padding: 9.5px !important;
    }
  }
}
.tablet .dapp-topbar {
  justify-content: space-between;
}
.pending-txn-container {
  display: flex;
  align-items: center;

  .MuiButton-label {
    margin-right: 0;
    transition: all 0.33s ease-out;
  }
}
#ohm-popper-pending {
  .MuiPaper-root.ohm-menu {
    a {
      padding-right: 20px !important;
    }
  }
}
.caret-down {
  position: absolute;
  right: 0.4rem;
}
.hovered-button {
  .MuiButton-label {
    margin-right: 0.5rem;
    transition: all 0.33s ease-out;
  }
}

.language-button {
  padding-left: 20px;
}
.connect-button {
  // background: $otter-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  border-radius: 10px;
  padding: 0 30px;
  cursor: pointer;

  font-weight: 600;
  font-size: 16px;
}

.ohm-button {
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;

  p {
    font-size: 16px;
    font-weight: 600;
  }
}

// @media screen and (max-width: 512px) {
//   #wallet-menu {
//     justify-content: center;
//     align-items: center;
//     margin-top: 10px;
//     margin-right: auto;
//     .language-button {
//       width: 100%;
//       justify-content: center;
//       align-items: center;
//       margin-bottom: 5px;
//     }
//     .connect-button {
//       margin-bottom: 5px;
//     }
//   }
// }

@media screen and (max-width: 512px) {
  #wallet-menu {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    .language-button {
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
    }
    .connect-button {
      margin-bottom: 5px;
    }
  }
}
@media screen and (max-width: 512px) {
  #choose-bond-view {
    .MuiGrid-container {
      flex-wrap: wrap !important;
    }
    .bond-hero-title {
      font-size: 14px !important;
    }

    .bond-hero-value {
      font-size: 16px !important;
    }
  }
}
